.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
  } 

  .list-group {
    display : none;
  }

  .black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 6;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}

.show {
  display : block
}
.show-modal{
 opacity: 1;
  visibility: visible;
}

.main-bg{
    padding: 100px 20px;
    background: lightgray;
}

.slide-container {
  width: 300vw;
  transition: all 1s;
  transform: translateX(-100vw);
} 
.slide-box {
  width: 100vw;
  float: left;
}
.slide-box img {
  width: 100%;
} 

.navbar {
  position : fixed;
  width : 100%;
  z-index : 5
}
.navbar-brand {
  font-size : 30px;
  transition : all 1s;
}